In [1]:
import pandas as pd
import numpy as np
import requests

In [3]:
performance_d = pd.read_csv('/Users/mpelton/Documents/MSBA/Tools for analytics/Project/Dataset/performance_data.csv')
weather_d = pd.read_csv('/Users/mpelton/Documents/MSBA/Tools for analytics/Project/Dataset/weather_data.csv')

In [4]:
performance_d.head()

,HYBRID_ID,ENV_ID,HYBRID_MG,ENV_MG,YIELD,YEAR,LAT,LONG,PLANT_DATE,HARVEST_DATE,...,ENV_YIELD_STD,ELEVATION,CLAY,SILT,SAND,AWC,PH,OM,CEC,KSAT
0,H2782,Env_1,0,0,107.9577,2008,49.5,-98.0,2008-05-06,2008-11-03,...,7.591866,870.65,22.7,23.0,54.5,18.65,7.2,6.1,24.2,9.4
1,H2782,Env_2,0,0,85.7498,2008,49.3,-98.1,2008-05-14,2008-10-22,...,7.184953,942.41,22.7,22.0,55.8,18.75,7.3,6.9,25.2,10.2
2,H2240,Env_3,0,0,74.6116,2011,49.3,-98.0,2011-05-17,2011-10-17,...,4.583234,903.46,22.8,21.5,55.8,18.95,7.4,6.7,25.5,9.9
3,H1527,Env_3,0,0,83.8191,2011,49.3,-98.0,2011-05-17,2011-10-17,...,4.583234,903.46,22.8,21.5,55.8,18.95,7.4,6.7,25.5,9.9
4,H1369,Env_3,0,0,81.7917,2011,49.3,-98.0,2011-05-17,2011-10-17,...,4.583234,903.46,22.8,21.5,55.8,18.95,7.4,6.7,25.5,9.9

In [6]:
weather_d.tail()

,ENV_ID,DAY_NUM,DAYL,PREC,SRAD,SWE,TMAX,TMIN,VP
569395,Env_1560,361,34905.601562,9,160.000000,0,13.5,6.0,920
569396,Env_1560,362,34905.601562,3,163.199997,0,10.5,3.0,760
569397,Env_1560,363,34905.601562,0,131.199997,0,5.5,1.5,680
569398,Env_1560,364,34905.601562,0,204.800003,0,6.5,0.0,600
569399,Env_1560,365,35251.199219,0,243.199997,0,6.0,-2.0,520

In [ ]:
#map of all the points with weather and such